:root {
    --color-prim: #FFFFFF;
    --color-second: rgba(23, 73, 200, 1);
    --color-third: rgba(95, 105, 131, 1);
    --fontfamily:"Inter", serif;
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--fontfamily);
}

h1 {
    color: var(--color-second);
    font-size: 36px;
}

p {
    font-size: 16px;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title {
    margin: 24px;
}

.controls {
    display: flex;
    margin: 24px;
    gap: 20px;
    align-items: center;
}

.grid-container {
    width: 400px;
    height: 400px;
    box-shadow: 0px 0px 7px 6px rgba(23, 73, 200, 0.236);
    background-color: rgba(246, 246, 246, 1);
    display: flex;
    flex-wrap: wrap;
    box-sizing: content-box;
}

.grid-item {
    border: 1px solid rgba(207, 207, 207, 1);
    box-sizing: border-box;

}

button {
    background-color: var(--color-second);
    box-shadow: 0px 0px 7px 2px rgba(23, 73, 200, 0.236);
    color: var(--color-prim);
    font-weight: 700;
    font-size: 16px;
    border: none;
    padding: 10px 24px;
}

button:hover {
    cursor: pointer;
    background-color: var(--color-third);

}

.brushes {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.brush {
    background-color: rgba(95, 105, 131, 1);
}

.brush:hover {
    background-color: var(--color-second);
    cursor: pointer;
}

.b1 {
    height: 40px;
    width: 40px;
}

.b2 {
    height: 25px;
    width: 25px;
}

.b3 {
    height: 20px;
    width: 20px;
}

.b4 {
    height: 16px;
    width: 16px;

}

.b5 {
    height: 8px;
    width: 8px;
}

.brush-squares {
    display: flex;
    align-items: flex-end;
    gap: 10px;
}